<h1>{{title}}</h1>
<input type="text" id="wynik" [(ngModel)]="wyswietlacz" /><br>
<button (click)="wyswietl(7)">7</button>
<button (click)="wyswietl(8)">8</button>
<button (click)="wyswietl(9)">9</button>
<button (click)="przelicz('/')">/</button>
<button (click)="wyczysc()">C</button><br>
<button (click)="wyswietl(4)">4</button>
<button (click)="wyswietl(5)">5</button>
<button (click)="wyswietl(6)">6</button>
<button (click)="przelicz('*')">*</button><br>
<button (click)="wyswietl(1)">1</button>
<button (click)="wyswietl(2)">2</button>
<button (click)="wyswietl(3)">3</button>
<button (click)="przelicz('-')">-</button><br>
<button (click)="wyswietl(0)">0</button>
<button (click)="wyswietl('.')">,</button>
<button (click)="licz()">=</button>
<button (click)="przelicz('+')">+</button><br>

